[main]
frames=20
file.size.max=5MB

[gif]
clips=5
length=3
width=250
color.depth.min=96
color.depth.max=256
frame.rate.min=12
frame.rate.max=50

[webp]
clips=6
length=5
width=250

[montage]
columns=5
rows=10
cell.width=320
time.delta.min=10

[font]
file=/usr/share/fonts/truetype/dejavu/DejaVuSansMono.ttf
size=16
color=white
background=black
